body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;;
}

/* timeblocks style for the past */
.past {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

/* timeblocks style for the present */
.present {
  background-color: crimson;
  border-color: crimson;
}

/* timeblocks style for the future */
.future {
  background-color: rgb(90, 177, 90);
  border-color: rgb(41, 136, 41);
}

/* save button styling */
#save {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 2em;
}

/* save button hover effect */
#save:hover {
  font-size: 50px;
  transition: all .5s ease-in-out;
}
