
body {
  font-family: IndieFlower, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
  background: url(../img/cool-background.png)
}

/* font */
@font-face {
  font-family: IndieFlower;
  src: url(../font/IndieFlower-Regular.ttf)
}
textarea{
  background: transparent;
  resize: none;
  color: #000000;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 20px solid black;
}

.row {
  white-space: pre-wrap;
  margin-top: 25px;
}

#currentDay {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}

/* styling of time boxes */
.time-color {
  background-color: rgba(144, 186, 241, 0.575);
  text-align: center;
  border: 5px solid black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* timeblocks style for the past */
.past {
  background-color: rgb(189, 189, 189);
  border-color: gray;
}

/* timeblocks style for the present */
.present {
  background-color: crimson;
  border-color: crimson;
}

/* timeblocks style for the future */
.future {
  background-color: rgb(104, 202, 104);
  border-color: rgb(38, 124, 38);
}

/* save button styling */
#save {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 2em;
  border: 5px solid black;
}

/* save button hover effect */
#save:hover {
  font-size: 50px;
  transition: all .5s ease-in-out;
}
